.center {
  text-align: center;
}
.inline {
  display: inline;
}
.color-white {
  color: #fff;
}
.shadow-white {
  text-shadow: 1px 1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, -1px -1px 0px #fff, 2px 2px 5px #fff,
    -2px 2px 5px #fff, 2px -2px 5px #fff, -2px -2px 5px #fff;
}
.bold {
  font-weight: 600;
}

body {
  background-image: url("ghibli.png");
}
div {
  margin-bottom: 0.5em;
}
td {
  width: 25%;
}
button:not(:disabled) {
  cursor: pointer;
}
img[data-name] {
  cursor: pointer;
}
textarea {
  display: block;
  margin: auto;
}

#run {
  color: rgb(0, 147, 219);
  font-size: 3em;
  border-radius: 0.5em;
  display: block;
}
#select {
  width: 47%;
}
#select fieldset {
  width: fit-content;
}
#select,
#pick {
  float: left;
}
#movieList {
  display: block;
}

#sliderSelect,
#result {
  clear: left;
}
#sliderImage {
  width: 90%;
  margin: auto;
}
#slider,
#slider_control {
  display: flex;
}
#slider input[type="range"],
#slider_input {
  flex-grow: 1;
}
#goto {
  width: 4em;
}
#slider button,
#forward,
#backward {
  border-radius: 3em;
  font-size: 1.5em;
}
#run_webp {
  border-radius: 1em;
  font-size: 1.3em;
}
#slider_webp img {
  width: 50%;
}
#source {
  width: 40%;
  height: 10vh;
}

.item {
  display: inline-block;
  /* border:1px solid rgba(0,0,0,1); */
  margin: 0.3em;
  width: 48%;
}
.item img {
  width: 100%;
}
.item figcaption {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.item progress {
  width: 50%;
}

@media (max-width: 768px) {
  body {
    background-size: contain;
  }
  label,
  td {
    background-color: rgb(0, 147, 219);
  }
  table {
    border-collapse: collapse;
  }

  .item {
    width: 100%;
  }

  #run {
    font-size: 2.5em;
  }
  #columnSelect {
    display: none !important;
  }
  #select,
  #pick {
    float: none;
  }
  #select {
    width: 100%;
    padding: 0;
  }
  #select fieldset {
    margin: 0;
    padding: 0;
  }
  #pick button {
    margin: auto;
  }
  #sliderSelect img {
    width: 100%;
  }
  #source {
    width: 80%;
    height: 15vh;
  }
}
